@{
    ViewBag.Title = "List Receivable";
}

<table class="listReceivablePageTable">
    <tr>
        <td>
            <h3> List Receivable (Pending Design)</h3>
        </td>
    </tr>
    <tr>
        <td style="width:25px;">
        </td>
    </tr>
    <tr>
        <td>
            <label id="registeredCompanyName"> Your company is not registered. @Html.ActionLink("Register", "Index", "RegisterCompany", new { id = "123" }, null)  your company.</label>
            
        </td>
    </tr>
</table>

<style>
     .listReceivablePageTable {
            border: 1px solid black;
            width: 100%;
            height: 100%;
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background: white;
        }
</style>

<script>
    $(document).ready(Init());


    function Init() {
        CheckIfCompanyIsRegistered();
    }


    function CheckIfCompanyIsRegistered() {
        var companyRegisteredStatus = document.getElementById("registeredCompanyName");

        var parms = { name: "Tanweer" }
        $.ajax({
            type: "GET",
            traditional: true,
            url: '@Url.Action("IsCompanyRegistered", "ListReceivable")',
            async: true,
            data: parms,
            dataType: "json",
            beforeSend: function (xhr) {
            },
            success: function (response, textStatus, jqXHR) {
                //companyRegisteredStatus.innerHTML = response.message;
                //alert(response.message);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error found during execution");
            }
        });
    }
</script>