
@{
    ViewBag.Title = "ManagePassword";
}

<h2>ManagePassword</h2>

<div id="userMessage">
    <h5 style="color:blue">@ViewBag.Message </h5>
</div>
<div id="idProductUploadForm">
    @using (Html.BeginForm("ManageUserPassword", "UserAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <dl>
            <dt>
                User Name:
            </dt>
            <dd>
                <input type="text" id="idUserName" name="userName" required />
            </dd>
            <dt>
                Password:
            </dt>
            <dd>
                <input type="text" id="idPassword" name="password" required />
            </dd>

        </dl>
        <input id="btnAddRole" type="submit" name="action" value="Change Password" />
        
    }
