@{
    ViewBag.Title = "Cart is empty";
}

@* TODO:  Get the link controller name from app.config *@
@Html.ActionLink("Take me back to home page", "Index", "AmzHome")
<h2> Your cart is empty. Please add items to your cart.</h2>

