@{
    ViewBag.Title = "Cart is empty";
}


@*@Html.ActionLink("Take me back to home page", "Index", "AmzHome")*@
<a href=@ViewBag.HomeView> Take me back to home page</a>
<h2> Your cart is empty. Please add items to your cart.</h2>

