@{
    ViewBag.Title = "Product Not fund";
}

@* TODO: Get this link from app.config *@

<a href=@ViewBag.HomeView> Take me back to home page</a>
<h2> Sorry! We couldn't find the product you are looking for. Click <a href=@ViewBag.HomeView> here</a> to return to home page</h2>

