
    
        .mainPageTable {
            border: 1px solid black;
            width: 1024px;
            height: 780px;
            margin-left:-512px; /* half of width */
            margin-top:-390px;  /* half of height */
            top:41%; /* distabnce between table's top and monitor top*/
            left:50%;
            position:absolute;
        }