@{
    ViewBag.Title = "About";
}
<br />
<h2>About R & Z Supply And Services</h2>


<p><span class="largerAtrament">RNZSS</span> is a Global Solution Provider for the support and sustainment of strategic Military assets.</p>
<p><span class="largerAtrament">RNZSS</span> supports this corporate vision through Global Engineering, Procurement, Light Manufacturing &amp; Materials Management; Specializing in the Support of U.S. Manufactured Military Equipment &amp; Provisions.</p>
<p><span class="largerAtrament">RNZSS</span> provides Spare Parts, Manufacturing and Logistic Support to Original Equipment Manufacturers, Militaries – Foreign and Domestic, Governments and other operators since 1946.  Our customers call on us for simple parts to complex assemblies.</p>
<p><span class="largerAtrament">RNZSS</span> is registered on Central Contractors Registration (CCR) under CAGE Code 9A148 and our U.S. Government Division is H &amp; R Parts under CAGE Code 5P784.  Our quality management system is certified to ISO 9001:2008.</p>
<p>Our corporate offices are located at historic Roosevelt Field in Garden City, Long Island, New York, where Charles Lindbergh took off on the now famous 33.5 hour cross-Atlantic flight to Le Bourget, France.</p>
<p>Our operations are located in Hopkins, Minnesota, where we provide Quality Control, Assembly and Testing, Parts Supply, Packaging and Shipping from our dock to yours.  Come visit our 75,000 square foot facility where we are proudly serving our customers with on-time delivery and superior quality.<p>
