@{
    ViewBag.Title = "About";
}
<div class="page-container">
    <div class="display-text-on-page">
        <h1>About R & Z Supply And Services</h1>
        <p><span class="largerAtrament">RNZSS</span> is a Global Solution Provider for the support and sustainment of strategic Military assets.</p>
        <p><span class="largerAtrament">RNZSS</span> supports this corporate vision through Global Engineering, Procurement, Light Manufacturing &amp; Materials Management; Specializing in the Support of U.S. Manufactured Military Equipment &amp; Provisions.</p>
        <p><span class="largerAtrament">RNZSS</span> provides Spare Parts, Manufacturing and Logistic Support to Original Equipment Manufacturers, Militaries – Foreign and Domestic, Governments and other operators since 1946.  Our customers call on us for simple parts to complex assemblies.</p>

    </div>
</div>