@{
    ViewBag.Title = "About";
}
<div class="page-container">
    <div class="display-text-on-page">
        <h1>About</h1>
        <h2>We are located in Jericho New York on Long Island. Our company emphasizes fast response to get the warfighter their product promptly and efficiently 
        with the best possible service and support. Our motto is getting the right part, on time per the requirements. Give us your trust and allow us to demonstrate 
        our ability to perform and meet your highest expectations.</h2>
    </div>
</div>