
@{
    ViewBag.Title = "ArmoredVehicles";
}

<div class="page-container">
    <div class="display-text-on-page">
        <h1>Armored Vehicles</h1>
        <h2>
            Our Armored Vehicles division has supported Army equipment with superior quality and timely delivery for over 6 decades. 
            Our capabilities continue to expand to meet the critical demands of our cherished customers. Our large library of technical 
            data and manuals along with our dedicated staff enable us to be efficient, prompt and competitive with our proposals.
            We have generated an enormous amount of production toolings, such as forging dies, casting patterns, machining fixtures and inspection 
            fixtures. We keep a very large inventory of parts which are utilized for our ongoing production of assemblies as well as giving us the 
            ability to supply parts to our customers with a very short delivery time.

        </h2>
    </div>
</div>

