
@{
    ViewBag.Title = "Army";
}

<div class="page-container">
    <div class="display-text-on-page">
        <h1>Army</h1>
        <h2>
            We are capable of supplying Army equipment with superior quality parts and timely delivery of material. Our capabilities continue to expand 
            to meet the critical demands of our cherished customers. Our large library of technical data and manuals along with our dedicated staff enable
            us to be efficient, prompt and competitive with our proposals. We keep a very large inventory of parts which are utilized for our ongoing production 
            of assemblies as well as giving us the ability to supply parts to our customers with a very short delivery time.
        </h2>
    </div>
</div>

