@{
    ViewBag.Title = "Contact";
}
<br />
<h1>Contact</h1>
<h3>Please contact us today at:</h3>

<address>
    R & Z Supply And Services LLC<br />
    14 Fountain Lane<br />
    Jericho     NY 11753<br />

    Phone:(516) 639-8129
    Fax:(516) 324-8554  
    E-Mail:rnz@rnzss.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rnz@rnzss.com">rnz@rnzss.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rnzss.com">Marketing@rnzss.com</a>
</address>