@{
    ViewBag.Title = "Contact";
}
<div class="page-container">
    <div class="display-text-on-page">
        <h1>Contact</h1>
        <h3>Please contact us today at:</h3>

        <h2>
            R & Z Supply And Services LLC<br />
            14 Fountain Lane<br />
            Jericho     NY 11753<br /><br /><br />

            Phone:  (516) 639-8129<br />
            Fax:  (516) 324-8554<br />
            E-Mail:  <a href="mailto:rnz@rnzss.com">rnz@rnzss.com</a><br /><br />
        </h2>
       
    </div>
</div>