@{
    ViewBag.Title = "Expertise";
}

<div class="page-container">
    <div class="display-text-on-page">
        <h1>Expertise</h1>
        <h2>
            Strategic sourcing and partnerships
            Supporting US DOD and OEM’s
            Competitive Pricing
            Military Packaging Service
            Product knowledge that spans more than 30 years
            Software design and development

        </h2>
    </div>
</div>

