@{
    ViewBag.Title = "RNZSS";
}

<table border="0" class="page-table">
    <tr class="main-page-top_row">
        <td colspan="3" style="height:450px;">
            <div id="image-head" class="image-head">
                <div class="centering-hack">
                    @*<h1>Something HTML</h1> Uncomment this if you want to add text to picture*@
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table border="0">
                <tr>
                    <td width="200px;"></td>
                    <td></td>
                    <td colspan="4">
                        <h1>WHO WE ARE</h1>
                        <br />
                        RNZ Supply And Services supports this Corporate Vision through Global Engineering, Procurement, Light Manufacturing & Materials Management; Specializing in the Support of U.S. Manufactured Military Equipment & Provisions.

                    </td>
                    <td colspan="2">
                        <button id="contactUsButton" type="button" class="button"> Contact us </button>
                        <br />
                        <br />
                        <div class="page-group-header-font">E-mail: rnz@rnzss.com</div>

                    </td>

                </tr>
                <tr>
                    <td width="200px;"></td>
                    <td colspan="6"> &nbsp;<br />&nbsp;<br />&nbsp;<br /></td>
                    <td width="200px;"></td>
                </tr>
                <tr>
                    <td width="200px;"></td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        @*<div class="page-group-header-font">
                                SMALL LINK 1
                            </div>*@
                        <h3>
                            <u>NAVAL</u>
                        </h3>
                    </td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        @*<div class="page-group-header-font">
                                SMALL LINK 2
                            </div>*@
                        <h3>
                            <u>ARMORED VEHICLES</u>
                        </h3>
                    </td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        @*<div class="page-group-header-font">
                                SMALL LINK 3
                            </div>*@
                        <h3>
                            <u>AERO SPACE</u>
                        </h3>
                    </td>
                    <td width="200px;"></td>
                </tr>
                <tr>
                    <td colspan="8" style="height:10px;"></td>
                </tr>
                <tr>
                    <td width="200px;"></td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        <div id="naval" class="page-link-small-image1">
                        </div>
                    </td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        <div id="armoredvehicles" class="page-link-small-image2">
                        </div>
                    </td>
                    <td style="min-width:25px;"></td>
                    <td style="min-width:300px;">
                        <div id="aerospace" class="page-link-small-image3">
                        </div>
                    </td>
                    <td width="200px;"></td>
                </tr>
                <tr>
                    <td colspan="8"> &nbsp;<br />&nbsp;<br />&nbsp;<br /></td>

                </tr>
            </table>
        </td>
    </tr>
</table>






<script>
        $(document).ready(function () {
            var url = [
                    '../../Content/Images/MainPage3.png',
                    '../../Content/Images/MainPage4.png',
                    '../../Content/Images/MainPage1.png',
                    '../../Content/Images/MainPage5.png'
            ];

            var curentImageIndex = 0;

            setInterval(function () {
                //console.log(url[curentImageIndex])
                var p = $('.image-head');
                p.css("background-image", "url(" + url[curentImageIndex++] + ")");
                p.css("background-repeat", "no-repeat");
                if (curentImageIndex >= url.length) { curentImageIndex = 0 }
            }, 10000);
        });


        $('#naval').click(function (e) {
            window.location.href = '@Url.Action("Naval", "Home")';
        });
        $('#armoredvehicles').click(function (e) {
            window.location.href = '@Url.Action("ArmoredVehicles", "Home")';
        });
        $('#aerospace').click(function (e) {
            window.location.href = '@Url.Action("AeroSpace", "Home")';
        });
        $('#contactUsButton').click(function (e) {
            window.location.href = '@Url.Action("Contact", "Home")';
        });



</script>


<style>
    .page-link-small-image1 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        background-image: url('../../Content/Images/NavalLinkSmallImage1.png');
        background-repeat: no-repeat;
    }

        .page-link-small-image1:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

    .page-link-small-image2 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        background-image: url('../../Content/Images/ArmoredVehiclesLinkSmallImage2.png');
        background-repeat: no-repeat;
    }

        .page-link-small-image2:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

    .page-link-small-image3 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        background-image: url('../../Content/Images/AeroSpaceLinkSmallImage3.png');
        background-repeat: no-repeat;
    }

        .page-link-small-image3:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

    .main-page-top_row {
        /*background-color: #1A5276 !important;*/
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
    }

    .button {
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: 11.5px 23px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-decoration: none;
        vertical-align: middle;
    }

        .button:hover {
            border-top-color: #28597a;
            background: #28597a;
            color: #ccc;
        }

        .button:active {
            border-top-color: #1b435e;
            background: #1b435e;
        }
</style>