@{
    ViewBag.Title = "RNZSS";
}
<table border="0" class="page-container">
    <tr>
        <td colspan="3" class="main-page-image-td">
            <div id="image-head" class="main-page-image-div">
                <div class="centering-hack">
                    @*<h1>Something HTML</h1> Uncomment this if you want to add text to picture*@
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="20">
            <div id="whoweare" class="main-page-who-we-are">
                We are a strong team dedicated, hardworking, experienced and focused on our customers and providing the best support with prompt response, competitive 
                pricing and dedicated to meet and exceed the expectations of those we are privileged to call our customers. We provide parts support to the DOD for Army, Navy and Air Force equipment
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3" @*style="background-color: blueviolet;"*@>
            <table border="0" class="main-page-boottom-table" >
                <tr>
                    <td width="20%;"></td>
                    <td class="main-page-td-containing-small-box">
                        <div id="naval" class="main-page-small-box">
                            <h3 class="text-on-gray-background">Expertise</h3>
                            Strategic sourcing and partnerships<br />
                            Supporting US DOD and OEM’s<br />
                            Competitive Pricing<br />
                            Military Packaging Service<br />
                            Product knowledge that spans more than 30 years<br />
                            Explore Contract Types                                
                        </div>
                    </td>
                    <td class="main-page-space-between-small-box-td"></td>
                    <td style="min-width:300px;">
                        <div id="armoredvehicles" class="main-page-small-box">
                            <h3 class="text-on-gray-background">Army Support</h3>
                            We provide parts for the following systems:<br />
                            &nbsp;&nbsp;&nbsp;M113<br/>
                            &nbsp;&nbsp;&nbsp;M60<br />
                            &nbsp;&nbsp;&nbsp;M109<br />
                            &nbsp;&nbsp;&nbsp;M1<br />
                            &nbsp;&nbsp;&nbsp;AAV<br />
                            &nbsp;&nbsp;&nbsp;HMMWV<br />
                        </div>
                    </td>
                    <td class="main-page-space-between-small-box-td"></td>
                    <td style="min-width:300px;">
                        <div id="aerospace" class="main-page-small-box">
                            <h3 class="text-on-gray-background">Navy Support</h3>
                            &nbsp;&nbsp;&nbsp;Electronics<br />
                            &nbsp;&nbsp;&nbsp;Radar<br />
                            &nbsp;&nbsp;&nbsp;Sonar<br />
                            &nbsp;&nbsp;&nbsp;Communications<br />
                        </div>
                    </td>
                    <td class="main-page-space-between-small-box-td"></td>
                    <td style="min-width:300px;">
                        <div id="aerospace" class="main-page-small-box">
                            <h3 class="text-on-gray-background">Air Force Support</h3>
                            &nbsp;&nbsp;&nbsp;F16<br />
                            &nbsp;&nbsp;&nbsp;F15<br />
                            &nbsp;&nbsp;&nbsp;C130<br />
                            &nbsp;&nbsp;&nbsp;UH60<br />
                            &nbsp;&nbsp;&nbsp;AH64<br />
                            &nbsp;&nbsp;&nbsp;CH47<br />
                        </div>
                    </td>
                    <td class="main-page-space-between-small-box-td"></td>
                    <td style="min-width:300px;">
                        <div id="aerospace" class="main-page-small-box">
                            <h3 class="text-on-gray-background">Our Focus</h3>
                            Hardware: Nut, Bolts, Pins, Washers, Seals
                            <br />
                            Electronic Parts: Connectors, Capacitors, Transformers, Relays
                            <br />
                            Hydraulics: Pumps, Valves, Cylinders, Manifolds
                            <br />
                            Suspension: Parts Hubs, Wheels, Shock Absorbers, Idler Pins
                            <br />
                            Hard to find parts
                        </div>
                    </td>
                    <td width="20%;"></td>
                </tr>
              
            </table>
        </td>
    </tr>
</table>






<script>
        $(document).ready(function () {
            var url = [
                    '../../Content/Images/MainPage1.jpg',
                    '../../Content/Images/MainPage2.jpg',
                    '../../Content/Images/MainPage3.jpg',
                    '../../Content/Images/MainPage4.jpg',
                    '../../Content/Images/MainPage5.jpg',
                    '../../Content/Images/MainPage6.jpg',
                    '../../Content/Images/MainPage7.jpg',
                    '../../Content/Images/MainPage8.jpg',
                    '../../Content/Images/MainPage9.jpg',
                    '../../Content/Images/MainPage10.jpg',
                    '../../Content/Images/MainPage11.jpg',
                    '../../Content/Images/MainPage12.jpg'
        ];

            var curentImageIndex = 0;

            setInterval(function () {
                //console.log(url[curentImageIndex])
                var p = $('.main-page-image-div');
                p.css("background-image", "url(" + url[curentImageIndex++] + ")");
                p.css("background-repeat", "no-repeat");
                if (curentImageIndex >= url.length) { curentImageIndex = 0 }
            }, 8000);
        });


        $('#naval').click(function (e) {
            window.location.href = '@Url.Action("Naval", "Home")';
        });
        $('#armoredvehicles').click(function (e) {
            window.location.href = '@Url.Action("ArmoredVehicles", "Home")';
        });
        $('#aerospace').click(function (e) {
            window.location.href = '@Url.Action("AeroSpace", "Home")';
        });
        $('#contactUsButton').click(function (e) {
            window.location.href = '@Url.Action("Contact", "Home")';
        });



</script>


<style>
    .page-link-small-text{
        text-align: center;
    }
    .page-link-small-image1 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        background-image: url('../../Content/Images/NavalLinkSmallImage1.png');
        background-repeat: no-repeat;
        background-position: center;

        background-color: silver;
        border-radius:0px;
        
    }

        .page-link-small-image1:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

    .page-link-small-image2 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        
        background-image: url('../../Content/Images/ArmoredVehiclesLinkSmallImage2.png');
        background-repeat: no-repeat;
        background-position: center;

        background-color: silver;
        border-radius:0px;
    }

        .page-link-small-image2:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

    .page-link-small-image3 {
        cursor: pointer;
        min-height: 200px;
        min-width: 200px;
        background-image: url('../../Content/Images/AeroSpaceLinkSmallImage3.png');
        background-repeat: no-repeat;
        background-position: center;

        background-color: silver;
        border-radius:0px;

    }

        .page-link-small-image3:hover {
            webkit-filter: blur(1px); /* Chrome, Safari, Opera */
            filter: blur(1px);
        }

   

    .button {
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: 11.5px 23px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-decoration: none;
        vertical-align: middle;
    }

        .button:hover {
            border-top-color: #28597a;
            background: #28597a;
            color: #ccc;
        }

        .button:active {
            border-top-color: #1b435e;
            background: #1b435e;
        }
</style>