
@{
    ViewBag.Title = "Naval";
}

<div class="page-container">
    <div class="display-text-on-page">
        <h1>Naval</h1>
        <h2>
            RNZSS supplies a wide range of spare parts for Naval Equipment with specific focus on obsolete and hard to procure items.
            We support a worldwide customer base and supply the complete range of products to support your end equipment.
            This is a growing field for us and we look forward to showing you what we can do for you.

            Supplying high quality spare parts to support Naval equipment for all types of platforms including:
        </h2>
            <ul>
                <li class="li-in-h2">Aircraft Carriers</li>
                <li class="li-in-h2">Cruisers</liclass="li-in-h2">
                <li class="li-in-h2">Destroyers</li>
                <li class="li-in-h2">Fixed and Rotary Wing Aircraft</li>
                <li class="li-in-h2">Frigates</li>
                <li class="li-in-h2">Submarines</li>
            </ul>
            
        <h2>Our capabilities include, but are not limited to, the following key areas:</h2>
        <ul>
            <li class="li-in-h2">Communication Systems</li>
            <li class="li-in-h2">Electrical Equipment</li>
            <li class="li-in-h2">Engine Parts</li>
            <li class="li-in-h2">Life Support Equipment</li>
            <li class="li-in-h2">Naval Guns</li>
            <li class="li-in-h2">Radar</li>
            <li class="li-in-h2">Sonar Systems</li>
        </ul>
    </div>
</div>
