
@{
    ViewBag.Title = "Our focus";
}

<h2>Ourfocus</h2>

<div class="page-container">
    <div class="display-text-on-page">
        <h1>Our Focus</h1>
        <h2>
            Hardware: Nut, Bolts, Pins, Washers, Seals
            Electronic Parts: Connectors, Capacitors, Transformers, Relays
            Hydraulics: Pumps, Valves, Cylinders, Manifolds
            Suspension: Parts Hubs, Wheels, Shock Absorbers, Idler Pins
            Hard to find parts
        </h2>
    </div>
</div>
