<div id="adminNavigationMenu">
    <ul class="nav">
        <li>@Html.ActionLink("Add", "Index", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Manage", "ManageProduct", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("ViewTransactions", "ViewTransactions", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Application Data", "Index", "ReferenceData", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
</div>
