<div class="navbar-collapse collapse">
    <div style="float: left; width: 100px;">@Html.ActionLink("Add", "Index", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
    <div style="float: left; width: 100px;">@Html.ActionLink("Manage", "ManageProduct", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    <div style="float: left; width: 100px;">@Html.ActionLink("ViewTransactions", "ViewTransactions", "ProductAdmin", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    <div style="width: 100px;">@Html.ActionLink("App Data", "Index", "ReferenceData", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
    <br style="clear: left;" />
</div>

