@{
    ViewBag.Title = "Product Admin";
}
<div>
    @Html.Partial("AdminMenuHorizontal")
</div>
<div id="messageForUser">
    @ViewBag.Message
</div>
@using (Html.BeginForm("UploadProduct", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div>
    <div style="widows: 100%; display:table;">
        <div style="display:table-row">
            <div id="idProductUploadForm" style="min-width:900px; display:table-cell;">
                    <dl>
                        <dt>
                            Product Image:
                        </dt>
                        <dd>
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                            <input id="inputFile" class="k-textbox fileUploadBox" type="file" name="files" /><br />
                        </dd>
                        <dt>
                            Product Name:
                        </dt>
                        <dd>
                            <input type="text" class="k-textbox productName" id="idProductName" name="productName" required />
                        </dd>
                        <dt>
                            Product Description:
                        </dt>
                        <dd>
                            <textarea id="idProductDescription" name="productDescription" class="k-textbox productDescription" rows="4" cols="20" required></textarea>
                        </dd>
                        <dt>
                            Unit Price:
                        </dt>
                        <dd>
                            @*<input type="number" class="k-textbox numberOfUnits" id="idUnitPrice" name="unitPrice" data-role='maskedtextbox' required/>*@
                            <input type="number" class="k-textbox numberOfUnits" id="idUnitPrice" name="unitPrice" data-role='maskedtextbox' required />
                        </dd>
                        <dt>
                            In Stock:
                        </dt>
                        <dd>
                            <input type="number" class="k-textbox numberOfUnits" id="idUnitInStock" name="unitInStock" data-role='maskedtextbox' required />
                        </dd>
                        <dt>
                            Product Long Description:
                        </dt>
                        <dd>
                            <div class="box wide">
                                <div class="box-col">
                                    <textarea id="idProductLongDescription" name="productLongDescription" class="k-textbox productLongDescription" rows="4" cols="20" required></textarea>
                                </div>

                            </div>
                        </dd>
                    </dl>
                    <input id="btn_UploadProduct" type="submit" class="k-button" value="Upload" />
            </div>
            <div style="max-width:300px; display:table-cell;">
                @*@Html.Partial("AdminMenu")*@
            </div>
        </div>
    </div>
</div>
 }


<script type="text/javascript">

    $(document).ready(function () {
        $("#idUnitPrice").kendoNumericTextBox();
        validateUploadForm();
 
    });


    function validateUploadForm() {


        $("#btn_UploadProduct").bind("click", function () {

            var validator = $("#idProductUploadForm").kendoValidator().data("kendoValidator");

            if ($("#inputFile").get(0).files.length === 0)
            {
                alert("Pick an image file");
                return false;
                
            }

            if (!validator.validate()) {
                return false;
            }

            document.getElementById("messageForUser").innerHTML = "Uploading file. Please wait.....";

            //var productName = document.getElementById("idProductName").value;
            //var productDescription = document.getElementById("idProductDescription").value;
            //var unitPrice = document.getElementById("idUnitPrice").value;
            //var productLongDescription = document.getElementById("idProductLongDescription").value;

            //if(productName == '' || productName == "Product Name")
            //{
            //    alert("Please type product name");
            //    return false;
            //}



        });
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }



    function onChange(arg) {
        var grid = $("#ProductGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        document.getElementById("selectedItemImage").src = "@Url.Content("~/content/products/{0}?{1}")".format(selectedItem.SmallImageId, new Date().getTime());

        document.getElementById("idProductID").value = selectedItem.ProductID;

    }

</script>

<style>
    .numberOfUnits{
      min-height:30px;
    }
    .fileUploadBox{
        min-width:500px;
    }
    .productName {
        min-width: 500px;
    }

    .productDescription{
        min-width:500px; 
        min-height:100px;
    }
    
    .productLongDescription{
        min-width:500px; 
        min-height:300px;
    }

</style>