@{
    ViewBag.Title = "Product Admin";
}
<div>
    <div style="widows: 100%; display:table;">
        <div style="display:table-row">
            <div id="idProductUploadForm" style="min-width:900px; display:table-cell;">
                @using (Html.BeginForm("UploadProduct", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <dl>
                        <dt>
                            Product Image:
                        </dt>
                        <dd>
                            <input id="inputFile" type="file" name="file" />
                        </dd>
                        <dt>
                            Product Name:
                        </dt>
                        <dd>
                            @*<input type="text" class="k-textbox" id="idProductName" value="Product Name" name="productName" onfocus="if (this.value == 'Product Name') { this.value = '';}" />*@
                            <input type="text" class="k-textbox" id="idProductName" name="productName" required />
                        </dd>
                        <dt>
                            Product Description:
                        </dt>
                        <dd>
                            @*<input type="text" class="k-textbox" id="idProductDescription" value="Product Description" name="productDescription"  onfocus="if (this.value == 'Product Description') { this.value = ''; }" />*@
                            <input type="text" class="k-textbox" id="idProductDescription" name="productDescription" required />
                        </dd>
                        <dt>
                            Unit Price:
                        </dt>
                        <dd>
                            @*<input type="text" class="k-textbox" id="idUnitPrice" name="unitPrice" value="Unit price" onfocus="if (this.value == 'Unit price') { this.value = ''; }" />*@
                            <input type="text" class="k-textbox" id="idUnitPrice" name="unitPrice" required />
                        </dd>
                        <dt>
                            Product Long Description:
                        </dt>
                        <dd>
                            <div class="box wide">
                                <div class="box-col">
                                    @*<textarea id="idProductLongDescription" name="productLongDescription" style="min-width:500px; min-height:300px;" rows="4" cols="20" onfocus="if (this.value == 'Product Long Description') { this.value = '';}">Product Long Description</textarea>*@
                                    <textarea id="idProductLongDescription" name="productLongDescription" style="min-width:500px; min-height:300px;" rows="4" cols="20" required></textarea>
                                </div>

                            </div>
                        </dd>
                    </dl>
                    <input id="btn_UploadProduct" type="submit" class="k-button" value="Upload" />
                }
            </div>
            <div style="max-width:300px; display:table-cell;">
                @Html.Partial("AdminMenu")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        validateUploadForm();
    });


    function validateUploadForm() {


        $("#btn_UploadProduct").bind("click", function () {

            var validator = $("#idProductUploadForm").kendoValidator().data("kendoValidator");

            if ($("#inputFile").get(0).files.length === 0)
            {
                alert("Pick an image file");
                return false;
                
            }

            if (!validator.validate()) {
                return false;
            }


            //var productName = document.getElementById("idProductName").value;
            //var productDescription = document.getElementById("idProductDescription").value;
            //var unitPrice = document.getElementById("idUnitPrice").value;
            //var productLongDescription = document.getElementById("idProductLongDescription").value;

            //if(productName == '' || productName == "Product Name")
            //{
            //    alert("Please type product name");
            //    return false;
            //}



        });
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }



    function onChange(arg) {
        var grid = $("#ProductGrid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());

        document.getElementById("selectedItemImage").src = "@Url.Content("~/content/products/{0}?{1}")".format(selectedItem.SmallImageId, new Date().getTime());

        document.getElementById("idProductID").value = selectedItem.ProductID;

    }



</script>

<style>
    .pad {
    background-color: #eee;
    padding: 4px;
    overflow:hidden  /*  first */
    }
    .fif {
        display: inline-block;
        margin: 0;
        padding: 4px 8px;
        float:left  /* second part */
    }
</style>