@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Simplex e-Logistic </h1>
    <p class="lead">Write something here. How This software can help a logistic company handle its transactions better.</p>

    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Invoice Printer</h2>
    </div>
    <div class="col-md-4">
        <h2>Manange Job Ticket</h2>
    </div>
    <div class="col-md-4">
        <h2>Reporting</h2>
    </div>
</div>