body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-name{
            min-width:250px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-city{
        min-width:75px;
        max-height:25px;
        margin-bottom:3px;
    }


.input-phone{
            min-width:150px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-zip{
            min-width:100px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-dropdown{
            min-width:150px;
            max-height:25px;
            margin-bottom:10px;
    
}