
@{
    ViewBag.Title = "About";
}

<h4>We are dedicated to providing our customers with great deals, fast shipping, and excellent service.
We sell a wide variety of items: housewares, home improvement supplies, pet food, clothing, carpets, and much more.  Our inventory is constantly expanding.  Please check in often for new great deals.
</h4>
<br/>

<h4>See reviews from our customers below:</h4>
<p>
    <a href="http://feedback.ebay.com/ws/eBayISAPI.dll?ViewFeedback2&userid=amzwholesale716&ftab=AllFeedback">eBay customer feedback</a><br />
    <a href="http://stores.ebay.com/AMZ-Wholesale">eBay store feedback</a><br />
    <a href="https://www.amazon.com/s?marketplaceID=ATVPDKIKX0DER&me=AL8GLDXXZL7MG&merchant=AL8GLDXXZL7MG&redirect=true">Amazon Feedback</a><br />

    
</p>
