@{
    ViewBag.Title = "Contact";
}


<h1 style="margin-left:100px;">CONTACT US.</h1>


<div id="inputFormContainer" style="margin-left:100px; margin-top:50px;">
    <table class="inputFormTable">
        <tr style>
            <td>
                <div style="margin-left:15px;">
                    <h4>AMZ Wholesale, Inc</h4>
                    1430-1500 Clinton Street</br>
                    Units 151-155 </br>
                    Buffalo, New York 14206 </br>
                    amzwholesale@gmail.com </br>
                    716-825-1744</br>
                    716-825-1733</br>
                </div>
            </td>
        </tr>
    </table>

    <br />
  
</div>













<style>
    .inputFormTable {
        position: relative;
        width: 250px; /* for IE 6 */
        height: 150px;
        background-color: Silver;
        border-radius: 25px; /* Gives any image a round corner */
    }

    .editor-label {
        margin-left: 20px;
        float: left;
        width: 200px;
    }

    .editor-field {
        margin-left: 200px;
    }
</style>
