@{
    ViewBag.Title = "Review Cart";
}
<h2> Please review your cart and click @Html.ActionLink("Checkout", "Contact", "Home") to complete your transaction</h2>
<br />
@Html.ActionLink("Take me back to home page", "Index", "AmzHome")




<script>
    $(document).ready(function () {
        getCartCount();
    });
</script>