<div id="megaStore">
    @(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Home").Action("Index", "Home");
          items.Add().Text("About").Action("About", "Home");
          items.Add().Text("Contact").Action("Contact", "Home");
          items.Add().Text("Aero Space").Action("AeroSpace", "Home");
          items.Add().Text("Armored Vehicles").Action("ArmoredVehicles", "Home");
          items.Add().Text("Naval").Action("Naval", "Home");
          items.Add()
                  .Text("Capabilities")
                  .Items(children =>
                  {
                      children.Add().Text("Contract Management").Action("CreateLeague", "TennisNetwork");
                      children.Add().Text("Short & Long Term Contracts").Action("CreatePlayer", "TennisNetwork");
                      children.Add().Text("Military Packaging and Crating").Action("AddPlayerToLeague", "TennisNetwork");
                      children.Add().Text("Quality Control").Action("AddPlayerToLeague", "TennisNetwork");
                      children.Add().Text("Stocking And Warehousing").Action("AddPlayerToLeague", "TennisNetwork");
                      //children.Add().Text("Manage Ticket")
                      //            .Items(innerChildren =>
                      //            {
                      //                innerChildren.Add().Text("New Ticket").Action("Index","JobTicket");
                      //                innerChildren.Add().Text("Today's tickets").Action("Index","JobTicket");
                      //                innerChildren.Add().Text("Search Tickets").Action("SearchTicket","JobTicket");
                      //                innerChildren.Add().Text("Ticket Summary").Action("Index","Home");
                      //            });

                  });

          items.Add()
                 .Text("Suppliers")
                 .Items(children =>
                 {
                     children.Add().Text("Strategic Partner Initiative").Action("LetsPlay", "TennisNetwork");
                     children.Add().Text("Become A Supplier").Action("AddProfile", "TennisNetwork");
                     //children.Add().Text("Schedule Singles")
                     //            .Items(innerChildren =>
                     //            {
                     //                innerChildren.Add().Text("Unpaid Invoices");
                     //                innerChildren.Add().Text("Search Invoice");
                     //            });

                 });

          items.Add()
                .Text("Admin")
                .Items(children =>
                {
                    children.Add().Text("Locations").Action("CreateLocation", "TennisNetwork");

                });

      })
    )

</div>
<style>
   
    #megaStore {
        /*max-width: 600px;*/
        margin: 0px auto;
        padding-top: 0px;
        /*background: url('../../content/web/menu/header.jpg') no-repeat center 0;*/
    }

    
    .k-menu .k-link 
    {
        font-size:11px;
        text-decoration:none;
        font-weight:bold;
        border:0px;
        color: #ffffff;
        background: rgb(181,189,200); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

        height:12px;


    }

    .k-menu
    {
        border:0px;

        background: rgb(181,189,200); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

     
    }


</style>
