@{
    ViewBag.Title = "Contact";
}


<h1 style="margin-left:100px;">CONTACT US.</h1>


<div id="inputFormContainer" style="margin-left:100px; margin-top:50px;" >
    <table class="inputFormTable">
        <tr style>
            <td>
                <div style="margin-left:15px;" >
                    <h4>Buiness Development</h4></br>
                    Denia Zaman</br>
                    dzaman75@gmail.com </br>
                    516 639 8131</br>
                </div>
            </td>
        </tr>
    </table>

    <br />
    <br />
    <table class="inputFormTable">
        <tr style>
            <td>
                <div style="margin-left:15px;" >
                    <h4>Technical Support</h4></br>
                    Denia Zaman <br />
                    dzaman75@gmail.com <br />
                    516 639 8131<br />
                </div>
            </td>
        </tr>
    </table>

</div>





 







<style>
    .inputFormTable { 
        position: relative; 
        width: 250px; /* for IE 6 */
        height: 150px;
        background-color: Silver;
        border-radius: 25px; /* Gives any image a round corner */
           
    }
    .editor-label {
        margin-left: 20px;
        float: left;
        width: 200px;
    }

    .editor-field {
        margin-left: 200px;
    }

</style>    
