
@{
    ViewBag.Title = "CustomSoftware";
}

<button onclick="printDiv('printableArea')">Click me</button>

<h2 class="bodyMainMessage">Custom Software Development</h2>

<div id="printableArea">
    <p class="bodyMainMessage1">
        SymplexSys is recognized as an expert in providing custom web application development, exceptional

        programming, enhancement, efficienct and quality-end product. We pride ourselves in developing

        strategies that tackle the most difficult technical requirements and business challenges for any size

        entities.

        Custom software development can make drastic improvements in many areas of business. It can

        improve efficiency by streamlining day to day business operations and identifying areas where you can

        improve productivity, standardize business practices and automate tedius tasks.

        Our objective is to deliver exceptional results that drive the value of a clients business. Our software

        engineers work with you every step of the way to solve your complex problems. Our collaborative

        efforts across organizations foster creating thinking delivering results.


    </p>
</div>
<script>

    function myFunction(){
        window.print();
    }


    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        alert(printContents);
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

    

    $(document).ready(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById("footer").style.display = "none";
            document.getElementById("navBar").style.minHeight = "20px";
        }
    });

</script>
<style>
    body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage3.jpg);
        bottom:0;
        position:absolute;
        width:100%;
        height:100%;
        background-size:100%;
    }
    .bodyMainMessage{
      margin-left:0px; 
      margin-top:0px;
      color: #244062;
      text-shadow: 0px 0px 0px #244062;
      font-size: 25px;
      font-family:Corbel;
      font-weight:bold;
    }

    .bodyMainMessage1{
        color: #244062;
        text-shadow: 0px 0px 0px #244062;
        font-size: 14px;
        font-family:Corbel;
        font-weight:bold;

    }


 
</style>