
@{
    ViewBag.Title = "CustomSoftware";
}

<h2 class="bodyMainMessage">Custom Software Development</h2>

<p class="bodyMainMessage1">
    SymplexSys is recognized as an expert in providing custom web application development, exceptional

    programming, enhancement, efficienct and quality-end product. We pride ourselves in developing

    strategies that tackle the most difficult technical requirements and business challenges for any size

    entities.

    Custom software development can make drastic improvements in many areas of business. It can

    improve efficiency by streamlining day to day business operations and identifying areas where you can

    improve productivity, standardize business practices and automate tedius tasks.

    Our objective is to deliver exceptional results that drive the value of a clients business. Our software

    engineers work with you every step of the way to solve your complex problems. Our collaborative

    efforts across organizations foster creating thinking delivering results.


</p>


<style>
    body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage3.jpg);
        bottom:0;
        position:absolute;
        width:100%;
        height:100%;
        background-size:100%;
    }
    .bodyMainMessage{
      margin-left:0px; 
      margin-top:0px;
      color: #244062;
      text-shadow: 0px 0px 0px #244062;
      font-size: 25px;
      font-family:Corbel;
      font-weight:bold;
    }

    .bodyMainMessage1{
        color: #244062;
        text-shadow: 0px 0px 0px #244062;
        font-size: 14px;
        font-family:Corbel;
        font-weight:bold;

    }


 
</style>