
@{
    ViewBag.Title = "CustomSoftware";
}

<h2 class="bodyMainMessage">Custom Software Development</h2>

<h2 class="bodyMainMessage1">Build custom software to automate your day to day operation and increase productivity.</h2>

<p class="bodyMainMessage1">
    We specialize in: <br />
    &nbsp;&nbsp;&nbsp;E-Commerce <br />
    &nbsp;&nbsp;&nbsp;Web Applications <br />
    &nbsp;&nbsp;&nbsp;Content Management  <br />
    &nbsp;&nbsp;&nbsp;Workflow automation <br />



</p>


<style>
    body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-image: url(../Content/pageBackgroundImage1.jpg);
    bottom:0;
    position:absolute;
    width:100%;
    height:100%;
    background-size:100%;
   
}

 
</style>