
@{
    ViewBag.Title = "ITInfrastructure";
}

<h2 class="bodyMainMessage">IT Infrastructure</h2>

<h2 class="bodyMainMessage1">Are you looking to setup your home of office network?</h2>

<p class="bodyMainMessage1">
    We can help setup your network and maintain it for you. We specilaize in preventing network outage. 
    <br />We can review your existing home or office network and help you optimize it. 
</p>


<style>
    body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage1.jpg);
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
</style>