
@{
    ViewBag.Title = "Software Consulting";
}

<h2 class="bodyMainMessage">Software Consulting</h2>

<p class="bodyMainMessage1">
SimplexSys Inc is one of the premier staffing, executive search and consulting firms. We provide staffing solutions to clients that range from small boutique firms to Fortune 500 companies across all industries.
Employers with staffing needs should contact us to learn more about how SimplexSys Inc. can partner with you to provide fast and effective solutions.
Professionals who would like to learn more about our job opportunities with top companies and how we can help you manage your career should visit the Site Registration Page.
We’re committed to providing the highest possible level of personal service and industry-specific expertise to all of our partners.
</p>

<p class="bodyMainMessage1">
    Our principal objective is to provide high end software development and consulting services to our

    clients.

    One of our core proficiencies is versatility. With our diverse team of software engineers, designers and

    quality assurance analyst who specialize in every major software development platform available will

    make your software application efficient and functional. Our diverse team will go to great lengths to

    attract hire and retain the best software engineers at an affordable price and we can handle all the

    management administration infrastructure and training so that our clients can focus on running their

    businesses.
</p>
<script>
    $(document).ready(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById("footer").style.display = "none";
            document.getElementById("navBar").style.minHeight = "20px";
        }
    });

</script>
<style>
    body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage4.jpg);
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }

    .bodyMainMessage{
      margin-left:0px; 
      margin-top:0px;
      color: #244062;
      text-shadow: 0px 0px 0px #244062;
      font-size: 25px;
      font-family:Corbel;
      font-weight:bold;
    }

    .bodyMainMessage1{
        color: #244062;
        text-shadow: 0px 0px 0px #244062;
        font-size: 14px;
        font-family:Corbel;
        font-weight:bold;

    }
</style>