
@{
    ViewBag.Title = "SoftwareConsulting";
}

<h2 class="bodyMainMessage">Software Consulting</h2>

<p class="bodyMainMessage1">
SimplexSys Inc is one of the premier staffing, executive search, and consulting firms. We provide staffing solutions to clients that range from small boutique firms to Fortune 500 companies across all industries.
Employers with staffing needs should contact us to learn more about how SimplexSys Inc can partner with you to provide fast and effective solutions.
Professionals who would like to learn more about our job opportunities with top companies and how we can help you manage your career should visit the Site Registration Page.
We’re committed to providing the highest possible level of personal service and industry-specific expertise to all of our partners.
</p>
<style>
    body {
        padding-top: 150px;
        padding-bottom: 20px;
        background-image: url(../Content/pageBackgroundImage4.jpg);
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
</style>