body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-header{
    max-height:100px;
    margin-top:1px;
    padding-bottom:8px;
    padding-right: 0px;
    padding-left: 0px;



  
}
.navbar-nav{
    max-height:100px;
    

}
.navbar-collapse{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4efc0+0,abbd73+100;Olive+3D+%232 */
    background: rgb(228,239,192); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,239,192,1) 0%, rgba(171,189,115,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(228,239,192,1) 0%,rgba(171,189,115,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
}

.navbar{
    min-height:100px;
    /* This is area around top section where we have log in Home, Invoice etc...*/
}
.container-navbar {

}

/*Color of Logo Section text "SIMPLEX INVOICE"*/
.navbar-inverse .navbar-brand {
  color: forestgreen;
}

/*Color of Logo Section text "SIMPLEX INVOICE" on hover or focus*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: orchid;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: darkred;
}

/* Navbar link*/
.navbar-inverse .navbar-nav > li > a {
  color: darkblue;
  font-weight:bold;
}

/* Navbar link on focus*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: lightblue ;
  background-color: transparent;
  
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: orangered;
  background-color: #080808;
}

.jumbotron{
    /* THis is top section of the page. "Welcome to Sports Network area"*/

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height:800px;
}


.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;

    /* This is main body area*/
}


.page-footer{
    padding-left: 15px;
    padding-right: 15px;
}


dl { 
    width: 440px; 
    overflow: hidden;
    /*background: rgb(206,220,231);*/
    padding: 0;margin: 0;

} 
dt {
    float: left;
    width: 25%;
    /*background: rgb(206,220,231);*/
    padding: 0; margin: 0;
    text-align:right;
    font-size:11px;
}
dd {
    float: left;
    width: 75%;
    /*background: rgb(206,220,231);*/
    padding: 0;
    margin: 0;
    font-size:11px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-name{
            min-width:250px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-city{
        min-width:75px;
        max-height:25px;
        margin-bottom:3px;
    }


.input-phone{
            min-width:150px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-zip{
            min-width:100px;
            max-height:25px;
            margin-bottom:3px;
        }

.input-dropdown{
            min-width:150px;
            max-height:25px;
            margin-bottom:10px;
    
}
.input-weight{
            min-width:50px;
            max-height:25px;
            margin-bottom:3px;
        }

.first-line{
    margin-top:75px; 
}
.page-description{
    font-size:15px; 
    font-weight:bold;
}

.margin-top-5px{
    margin-top:5px;
    
}

/* Kendo GRID*/
.k-grid
{
    font-size:11px;
}
.k-grid th.k-header,
.k-grid-header
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,356aa0+100;Blue+Flat */
    background: rgb(53,106,160); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

}

.k-grid th.k-header,
.k-grid th.k-header .k-link
{
    color:white;
    text-align:center;
}

 .button_Save {
        border: 1px solid #7eb9d0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px;
        font-family: arial, helvetica, sans-serif;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        font-weight: bold;
        color: #FFFFFF;
        background-color: #a7cfdf;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
        background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
        background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
    }


        .button_Save:hover {
            border: 1px solid #5ca6c4;
            background-color: #82bbd1;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
            background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
            background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
            background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
            background-image: -o-linear-gradient(top, #82bbd1, #193b61);
            background-image: linear-gradient(to bottom, #82bbd1, #193b61);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
        }