@using RnzssWeb.Models
<div class="page-container">
    <div id="rfqentryform" class="admin-page-container">
        <label>RFQ No: <input id="inputRFQNo" type="text" value=@ViewBag.RfqNo /></label>

        @(Html.Kendo().Grid<RequestForQuoteEvent>()
                                .Name("grid-rfq")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.RFQNo).Width(75);
                                    columns.Bound(p => p.EventDescription).Width(75);
                                    columns.Bound(p => p.UpdatedBy).Width(75);
                                    columns.Bound(p => p.UpdateDate).Width(75).Format("{0:MM/dd/yyyy hh:mm:ss tt}");
                                    columns.Command(command => { command.Edit(); command.Destroy(); }).Width(100);
                                })
                                .ToolBar(toolbar => { toolbar.Create(); toolbar.Excel(); })
                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                .Pageable()
                                .Sortable()
                                .Filterable()
                                .Scrollable(scr => scr.Height(500))
                                .Excel(excel => excel
                                    .AllPages(true)
                                    .FileName("Index Rates Export.xlsx")
                                    .Filterable(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "Carry"))
                                )
                                .Events(events => events.Edit("onEdit"))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(100)
                                    .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.RequestForQuoteEventId);
                                        model.Field(p => p.RFQNo).Editable(false);
                                        model.Field(p => p.UpdateDate).Editable(false);

                                    })
                                    .Create(read => read.Action("RfqEvent_Create", "Rfq"))
                                    .Read(read => read.Action("RfqEvent_Read", "Rfq").Data("getParameters"))
                                    .Update(update => update.Action("RfqEvent_Update", "Rfq"))
                                    .Destroy(update => update.Action("RfqEvent_Destroy", "Rfq"))
                                )
        )


    </div>
</div>

<script>
    function getParameters() {

        return {
            rfqNo: document.getElementById("inputRFQNo").value
        }
    }

    function onEdit() {

    }
    function error_handler() {

    }

    function onRequestEnd(e) {
        if (e.type == 'update' || e.type == "create" || e.type == "destroy") {
            //document.getElementById("pageMessage").innerHTML = e.response.myMessage;
            if (e.response.myMessage.indexOf('ERROR') >= 0) {
                alert(e.response.myMessage)
            }
            else {
                $('#grid-rfq').data('kendoGrid').dataSource.read();
                $('#grid-rfq').data('kendoGrid').refresh();
            }

        }
    }
    function reloadProductInformationGrid() {
        $('#grid-rfq').data('kendoGrid').dataSource.read();
        $('#grid-rfq').data('kendoGrid').refresh();
    }





    $(document).ready(function () {
        reloadProductInformationGrid();
    });

</script>


<style>
</style>






