
@{
    ViewBag.Title = "Job Ticket";
}

<h2>Add Job Ticket</h2>

<div style="display:table;">
    <div style="display:table-row">
        <div id="idProductUploadForm" style="min-width:900px; display:table-cell;">
            <dl>
                <dt>
                        Client:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("products")
                      .DataTextField("ClientName")
                      .DataValueField("ClientID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetClientNames", "MyClients");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectClientName");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                </dd>
                <dt>
                    Product Name (150 characters max):
                </dt>
                <dd>
                    <input type="text" class="k-textbox productName" id="idProductName" name="productName" required />
                </dd>
                <dt>
                    Product Description (255 characters max):
                </dt>
                <dd>
                    <textarea id="idProductDescription" name="productDescription" class="k-textbox productDescription" rows="4" cols="20" required></textarea>
                </dd>
                <dt>
                    Unit Price:
                </dt>
                <dd>
                    @*<input type="number" class="k-textbox numberOfUnits" id="idUnitPrice" name="unitPrice" data-role='maskedtextbox' required/>*@
                    <input type="number" class="k-textbox numberOfUnits" id="idUnitPrice" name="unitPrice" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    In Stock:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idUnitInStock" name="unitInStock" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Product Long Description (Unlimited character):
                </dt>
                <dd>
                    <div class="box wide">
                        <div class="box-col">
                            <textarea id="idProductLongDescription" name="productLongDescription" class="k-textbox productLongDescription" rows="4" cols="20" required></textarea>
                        </div>

                    </div>
                </dd>
                <dt>
                    Click to save job ticket..
                </dt>
                <dd>
                    <input id="btn_UploadProduct" type="submit" class="k-button" value="Save" />
                </dd>

            </dl>
        </div>
    </div>
</div>





<script>

    $(document).ready(function () {
        $("#idUnitPrice").kendoNumericTextBox();
        validateUploadForm();

    });


    function validateUploadForm() {


        $("#btn_UploadProduct").bind("click", function () {
            alert("Save data here");

            var validator = $("#idProductUploadForm").kendoValidator().data("kendoValidator");
            if (!validator.validate()) {
                return false;
            }
        });
    }

    function onSelectClientName(e) {
        alert(e.item[0].innerText);
    }

</script>
