
@{
    ViewBag.Title = "Job Ticket";
}

<h2>Add Job Ticket</h2>

<div style="display:table;">
    <div style="display:table-row">
        <div id="idProductUploadForm" style="min-width:900px; display:table-cell;">
            <dl>
                <dt>
                        Client:
                </dt>
                <dd>
                    @(Html.Kendo().DropDownList()
                      .Name("clients")
                      .DataTextField("ClientName")
                      .DataValueField("ClientID")
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetClientNames", "MyClients");
                          });
                      })
                      .Events(e =>
                        {
                            e.Select("onSelectClientName");
                        })

                      .HtmlAttributes(new { style = "width: 250px;" })
                    )
                </dd>
                <dt>
                    Quantity:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idQuantity" name="unitPrice" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Weight:
                </dt>
                <dd>
                    <input type="number" class="k-textbox numberOfUnits" id="idWeight" name="unitInStock" data-role='maskedtextbox' required />
                </dd>
                <dt>
                    Instructions (255 characters max):
                </dt>
                <dd>
                    <input type="text" class="k-textbox instruction" id="idInstruction" name="instruction"  />
                </dd>
                <dt>
                    &nbsp;
                </dt>
                <dd>
                    <input id="btn_UploadProduct" type="submit" class="k-button" value="Add Job Ticket" />
                </dd>

            </dl>
        </div>
    </div>
</div>





<script>

    $(document).ready(function () {
        $("#idQuantity").kendoNumericTextBox();
        $("#idWeight").kendoNumericTextBox();
        validateUploadForm();

    });


    function validateUploadForm() {


        $("#btn_UploadProduct").bind("click", function () {
            alert("Save data here");

            var validator = $("#idProductUploadForm").kendoValidator().data("kendoValidator");
            if (!validator.validate()) {
                return false;
            }
        });
    }

    function onSelectClientName(e) {
        alert(e.item[0].innerText);
    }

</script>
<style>
        .instruction{
        min-width:250px; 
        min-height:10px;
    }

</style>