@using Kendo.Mvc.UI
@using SimplexInvoiceModel;

@{
    ViewBag.Title = "Invoices";
}

@*<link rel="stylesheet" href="~/Content/PrintSetup.css" type="text/css" />*@

<div id="divMenuAndGrid" style="display:table; margin-left: 1px; margin-top:10px;">
    <div style="display:table-row">
        <div id="divMenu" style="display:table-cell; padding-right:5px;min-width:300px;">
            
        </div>
        <div style="display:table-cell; padding-right:5px;min-width:50px;">

        </div>
        <div id="divAllInvoices" style="display:table-cell;min-width:1200px;margin-left:1px; margin-top:1px; vertical-align:top; ">
            @(Html.Kendo().Grid<ClientCompany>()
            .Name("AllInvoicesGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.CompanyName).Width(100);
                columns.Bound(p => p.Email).Width(100);
                columns.Bound(p => p.WeightRate).Width(255);
                columns.Bound(p => p.BasePickupCharge).Width(85);
                columns.Bound(p => p.State).Width(85);
                columns.Bound(p => p.MobileNumber).Width(85);
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
            })
            .ToolBar(toolbar =>
            {
                //toolbar.Create();
                //toolbar.Save();
            })
            //.Editable(editable => editable.Mode(GridEditMode.InCell))
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            //.Pageable()
            .Filterable()
            .Navigatable()
            .Sortable()
            .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single)
                    .Type(GridSelectionType.Row))
            //.Scrollable()
            .Events(events => events.Change("onChange"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .PageSize(1000)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler").RequestEnd("onRequestEnd"))
                //.Model(model => model.Id(p => p.ProductID))
                .Model(model =>
                {
                    model.Id(p => p.ClientCompanyId);
                    model.Field(p => p.CompanyName).Editable(false);
                    model.Field(p => p.Email).Editable(false);
                    model.Field(p => p.WeightRate).Editable(false);
                    model.Field(p => p.BasePickupCharge).Editable(false);
                    model.Field(p => p.State).Editable(true);
                    model.Field(p => p.MobileNumber).Editable(false);
                    model.Field(p => p.ContactPerson).Editable(false);

                })


                                .Create("Editing_Create", "MyClients")
                                .Read("Editing_Read", "MyClients")
                                .Update("Editing_Update", "MyClients")
                                .Destroy("Editing_Destroy", "MyClients")
                            )
            )
        </div>
        <div id="loader" style="display:none; font:bold; color:darkblue">Saving.... Please wait</div>
    </div>
</div>


<div style="display:table; margin-left: 1px; margin-top:10px;">
    <div style="display:table-row">
        <div id="puform" style="display:table-cell; padding-right:5px;">


            <div id="divInvoice">
                <div style="min-width:800px;  background: rgb(206,220,231)">
                    <style>
                        dl { 
                            width: 100%; 
                            overflow: hidden;
                            background: rgb(206,220,231);
                            padding: 0;margin: 0;

                        } 
                        dt {
                            float: left;
                            width: 50%;
                            background: rgb(206,220,231);
                            padding: 0; margin: 0;

                        }
                        dd {
                            float: left;
                            width: 50%;
                            background: rgb(206,220,231);
                            padding: 0;
                            margin: 0;

                        }

                    </style>

                    <div id="divInvoiceDetail" style="display:table; margin-left: 1px; margin-top:10px;">
                        <div style="display:table-row">
                            <div id="divCompanyNameAndAddress" style="display:table-cell; padding-right:5px;min-width:300px;">

                            </div>
                            <div style="display:table-cell; padding-right:5px;min-width:250px;">

                            </div>
                            <div id="divCompanyPhoneAndFax" style="display:table-cell;margin-left:1px; margin-top:1px; vertical-align:top; ">
                            </div>
                        </div>
                        <div style="display:table-row">
                            <div id="mistDtDDSection" style="display:table-cell; padding-right:5px;min-width:300px;">
                                <dl>
                                    <dt>Coffee:</dt>
                                    <dd>Black hot drink</dd>
                                    <dt>Milk:</dt>
                                    <dd>White cold drink</dd>
                                </dl>
                            </div>
                            <div style="display:table-cell; padding-right:5px;min-width:50px;">

                            </div>
                            <div style="display:table-cell;min-width:1200px;margin-left:1px; margin-top:1px; vertical-align:top; ">
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


    <button onclick="printDiv()">Print</button>

    <script>

        $(document).ready(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                document.getElementById("footer").style.display = "none";
                document.getElementById("navBar").style.minHeight = "20px";
            }

            //LoadInvoice();

        });

        function LoadInvoice(e)
        {
            @*var myCompany = @Html.Raw(Json.Encode(ViewData["MY_COMPANY"]));*@
            
            document.getElementById("divCompanyNameAndAddress").innerHTML = e.CompanyName 
                                                                            + "</br>" 
                                                                            + e.AddressLine1
                                                                            + "</br>" 
                                                                            + "JAMAICA" + " " + "NY" + "11753"
                                                                            + "</br>";

            document.getElementById("divCompanyPhoneAndFax").innerHTML = "TEL: " + "(516) 639 8131" + "</br>" 
                                                                         + "FAX: " + "(516) 639 8132 ";
            
        }





        function printDiv()
        {
            //Get the HTML of div
            var divElements = document.getElementById("divInvoice").innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML = 
              "<html><head><title></title></head><body>" +
              divElements 
              + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;
        }
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function() {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }



        function onChange(arg) {
            var grid = $("#AllInvoicesGrid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            //alert(selectedItem.CompanyName);


            var parms = {
                clientCompanyString: selectedItem.CompanyName
            };


            $.ajax({
                type: "GET",
                traditional: true,
                url: '@Url.Action("GetClientInfo", "MyClients")',
                async: true,
                data: parms,
                dataType: "json",
                beforeSend: function (xhr) {
                    $('#loader').show();
                },
                success: function (response, textStatus, jqXHR) {
                    //alert(response.message.CompanyName);
                    $('#loader').hide();
                    LoadInvoice(response.message);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error found during execution");
                    $('#loader').hide();
                }
            });


        }

        function onRequestEnd(e) {

            if (e.type == "update" && !e.response.Errors) {
                alert("product updated");
            }

            if (e.type == "destroy" && !e.response.Errors) {
                alert("Producdt deleted");
            }

        }



        
        function LookupHandler(jqXHR) {

            if (jqXHR.status == 200)
                return;

            FailureHandler(jqXHR);
        }

    </script>

    <style>
        .inputFormTable {
            position: relative;
            width: 500px; /* for IE 6 */
            min-height: 500px;
            border-radius: 25px; /* Gives any image a round corner */
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100 */
            background: rgb(206,220,231); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
        }

        .editor-label {
            margin-left: 20px;
            margin-bottom: 2px;
            float: left;
            width: 200px;
            text-align: right;
            color: #244062;
            text-shadow: 0px 0px 0px #244062;
            font-size: 12px;
            font-family: Corbel;
            font-weight: bold;
        }

        .editor-field {
            margin-left: 100px;
        }

        .bodyMainMessage1 {
            text-align: center;
            color: #244062;
            text-shadow: 0px 0px 0px #244062;
            font-size: 18px;
            font-family: Corbel;
            font-weight: bold;
        }


        .button_Save {
            border: 1px solid #7eb9d0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 12px;
            font-family: arial, helvetica, sans-serif;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
            display: inline-block;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            font-weight: bold;
            color: #FFFFFF;
            background-color: #a7cfdf;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
            background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
            background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
            background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
            background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
            background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
        }


            .button_Save:hover {
                border: 1px solid #5ca6c4;
                background-color: #82bbd1;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
                background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
                background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
                background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
                background-image: -o-linear-gradient(top, #82bbd1, #193b61);
                background-image: linear-gradient(to bottom, #82bbd1, #193b61);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
            }

        .button_StartOver {
            border: 1px solid #72021c;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 12px;
            font-family: arial, helvetica, sans-serif;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
            display: inline-block;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            font-weight: bold;
            color: #FFFFFF;
            background-color: #a90329;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
            background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
            background-image: -moz-linear-gradient(top, #a90329, #6d0019);
            background-image: -ms-linear-gradient(top, #a90329, #6d0019);
            background-image: -o-linear-gradient(top, #a90329, #6d0019);
            background-image: linear-gradient(to bottom, #a90329, #6d0019);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
        }


            .button_StartOver:hover {
                border: 1px solid #450111;
                background-color: #77021d;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
                background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
                background-image: -moz-linear-gradient(top, #77021d, #3a000d);
                background-image: -ms-linear-gradient(top, #77021d, #3a000d);
                background-image: -o-linear-gradient(top, #77021d, #3a000d);
                background-image: linear-gradient(to bottom, #77021d, #3a000d);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
            }

        .container {
            margin-left: 0;
        }

        .body-content {
            margin-left: 0;
        }

        body {
            padding-top: 100px;
            padding-bottom: 20px;
            background-image: url(../Content/pageBackgroundImage2.jpg);
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: 100%;
        }
    </style>
